.col{
    margin-top: 30px;
}

.css-t3ipsp-control{
  border-color:black !important;
  box-shadow:none !important;
}
 
.css-t3ipsp-control:hover{
  border-color:black !important;
  border-width: 2px;
}


