.col{
    margin-top:30px;
}

.form-control:focus{
    box-shadow:none !important;
    border:2px solid black !important;
  }

  select:focus{
    border:2px solid black !important;
    box-shadow: none !important;
  }

