.playersList {
    color: white;
    background-color: #2885D7;
    border-radius: 5px;
    margin-top: 5px;
    padding: 6px;
    width: 200px;
    font-weight: 500;
    text-align: center;
    margin:auto;
    margin-top: 8px;
    font-size:19px;
}


.addPlayers{
    font-size:19px;
    font-weight: 600;
    background-color: #2885D7;
    border-radius: 12px;
}

.thead{
    color:white !important;
}

.btn-close{
    --bs-btn-close-opacity:0.6;
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e);
}

td{
    border-style: none;
}

.form-control:focus{
    box-shadow:none !important;
    border:2px solid black !important;
  }

  select:focus{
    border:2px solid black !important;
    box-shadow: none !important;
  }

.bgColor{
    background-color: rgb(245, 242, 242) !important;
}