.signUp:hover {
    text-decoration: underline;
    cursor: pointer;
}

.borderRadius {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*eye-icon placement inside pwd field:*/
.pwd {
    position: relative;
    display: block;
}

.input {
    padding-right: 40px;
}

.pwd-toggle {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.div1 {
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    height: 100vh;
    
}


.card {
    --bs-card-bg: none;

}

.row>* {
    padding-right: 0px !important;
}

@media screen and (max-width: 767px) {
    .row1parent {
        margin-left: 1px;
    }

}

.logo {
    width: 250px;
}

@media only screen and (min-width: 768px) {
    .row1parent {
        padding-left: 0px !important;
    }
}

.fontLogin {
    font-weight: 600;
}