.col{
    margin-top: 30px;
}

.row{
    margin-right:30px;
}

.form-control:focus{
    box-shadow:none !important;
    border:2px solid black !important;
  }

  select:focus{
    border:2px solid black !important;
    box-shadow: none !important;
  }

  @media only screen and (min-width: 1200px){
    .colAccount{
        text-align: center !important;
    }
}